*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #090c31;
}
.container{
     width: 400px;
     height: min-content;
     background-color: #ffff;
     /* background: linear-gradient(135deg,#00feba,#5b548a); */
     border-radius: 12px;
     padding: 28px; 
}
.search-box{
    width: 100%;
    height:min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: rgb(180, 254, 254);
    padding: 12px 16px;
    border-radius: 14px; 
}
.search-box input::placeholder{
    color: #000 ;
}
.search-box button{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: rgb(180, 254, 254);
    cursor: pointer;
    font-size: 20px;
}
.search-box button:hover{
      color: white;
      background-color: rgb(103, 102, 102);
}

.weather-body{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}

.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px; 
    text-align: center
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600; 
}

.weather-box .description{
    font-size: 20px;
    font-weight:700;
    text-transform: capitalize;
}

.humidity >p{
   color: black;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity,.wind{
    display: flex;
}

.humidity{
    margin-left: 10px;
}
.wind{
    margin-right: 10px; 
}
.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;  
}

.location-not-found{
    margin-top: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-not-found h1{
    color: rgb(150, 150, 150);
    font-size: 20px;
    margin-block-end: 10px;
}
.location-not-found img{
    width: 80%;
}

@media screen and (max-width:375px) {
    .search-box input{
        width: 80%;
        font-size: 18px;
    }
    .weather-body h4{
        font-size: 15px;
    }
    .search-box button{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width:300px) {
    .search-box input{
        width: 75%;
        font-size: 15px;
}
.weather-body h4{
    font-size: 13px;
}
}